*{
    margin: 0;
}

/* Section Devider */
.Devision{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 120px;
}

.icons{
    margin-right:5px;
    height: 20px;
}

.GraySpace{
    height: 2px;
    width: 100%;
    background-color: gray;
}

/* Navigation Bar */

.NavBar{
    display: flex;
    justify-content: space-evenly;
    background-color: White;
    /*box-shadow: 0px 7px 12px rgba(0,0,0,0.5);*/
}

.Title{
    padding-top: 10px;
}

.NavBarLinks{
    display: flex;
    gap: 80px;
}

/* Hover Effect for HyperLinks */

a {
    padding-top: 35px;
    position: relative;
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    height: 40px;
}

a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background-color: rgb(10, 107, 49);
    border-radius: 50px;
    transition: width 0.2s ease;
}

a:hover:before{
    width: 100%;
}

#InitialsImg{
    height: 100px;
    width: 100px;
}

/* About Me */

.AboutMe{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 120px;
}

.TextSpace{
    font-size: 20px;
    width: 450px;
}

.p1{
    font-size: 30px;
}

.p2{
    
    display: flex;
    gap: 15px;
    font-size: 60px;
}

.TypeWriterContainer{
    display: flex;
    gap: 4,2px;
}

.TypeWriterContainer, p{
    font-size: 50px;
    color: rgb(10, 107, 49);
} 

.img{
    height: 300px;
    width: 250px;
    border-radius: 20px;
    transition: transform 250ms ease-in-out;
    pointer-events: none;
}

.Trigger{
    height: 300px;
    width: 250px;
    background:rgb(10, 107, 49);
    border-radius: 20px;
}

.Trigger:hover .img{
    transform: translate(-15px, 15px);
}    

/* Skills */

/* Projects */

/* Contact */