*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 135px;
}

/* Section Devider */
.Devision{
    display: grid;
    grid-template-columns: 0.7fr 4fr 0.7fr;
    margin: 20px;
}

.icons{
    margin-right:5px;
    height: 20px;
}

.GraySpace{
    height: 2px;
    width: 100%;
    background-color: gray;
}

/* Navigation Bar */

.NavBar{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: White;
    opacity: 90%;

    position: sticky;
    top: 0.1px;
}

.Title{
    padding-top: 10px;
}

.NavBarLinks{
    display: flex;
    gap: 80px;
}

/* Hover Effect for HyperLinks */

.HyperLink {
    padding-top: 35px;
    position: relative;
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    height: 40px;
}

.HyperLinkDark {
    padding-top: 35px;
    position: relative;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    height: 40px;
}

.HyperLink:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background-color: rgb(13, 129, 59);
    border-radius: 50px;
    transition: width 0.2s ease;
}

.HyperLinkDark:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background-color: rgb(197, 95, 18);
    border-radius: 50px;
    transition: width 0.2s ease;
}

a:hover:before{
    width: 100%;
}

#InitialsImg{
    padding: 10px;
    height: 80px;
    width: 80px;
}

/* Home */
.Home{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 160px 0px 160px 0px;
}

.TextSpace{
    font-size: 20px;
    width: 465px;
}

.p1{
    font-size: 30px;
}

.p2{
    display: flex;
    gap: 15px;
    font-size: 60px;
}

.TypeWriterContainer{
    display: flex;
    gap: 4,2px;
}

.TypeWriterContainer, #element{
    font-size: 50px;
    color: rgb(13, 129, 59);
} 


.img{
    height: 300px;
    width: 245px;
    border-radius: 20px;
    transition: transform 250ms ease-in-out;
    pointer-events: none;
}

.Trigger{
    height: 300px;
    width: 240px;
    border-radius: 20px;
    background:rgb(13, 129, 59);
}

.Trigger:hover .img{
    transform: translate(-15px, 15px);
}

/*puts everything clean in center no matter wich screen size you would have at that time*/

.App{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.Devide2{
    margin-left:7.5px;
    height: 2px;
    width: 98.4%;
    background-color: rgb(83, 82, 82);
    margin-top:80px;
    margin-bottom: 20px;
}

.Devide3{
    margin-left:7.5px;
    height: 2px;
    width: 98.4%;
    background-color: rgb(83, 82, 82);
    margin-top:20px;
    margin-bottom: 20px;
}


.Devide2Dark{
    margin-left:7.5px;
    height: 2px;
    width: 98.4%;
    background-color: snow;
    margin-top:20px;
    margin-bottom: 20px;
}

/* About Me */
.AboutText{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 750px;
    font-size: 30px;
}

/* Skills */

.AnotherTxt{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.CenterSkills{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.SkillsIcons{
    margin: 50px 0px 100px 0px;

}

.SkillFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 25px;
}

.SkillImage{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px;
    width: 60px;
    height: 5px;
    transition: transform .2s;
}
.SkillImage:hover{
    cursor:pointer;

    transform:scale(1.5);
}

.SkillTxt{
    margin-top: 10px;
}

.emptydiv{
    height: 100px;
}
/* Projects */

.MainContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.ProjectImages{
    width: 260px;
    height: 220px;
    border-radius: 7px;
    transition: transform .2s;
}


.ProjectImages:hover{
    transform:scale(1.1);
}

.ProjectText{
    font-size: 50px;
    color: white;
}

.ProjectDescription{
    border: 5px dashed rgb(197, 95, 18);
    padding: 10px;
    font-size: 20px;
    color: white;
    width: 420px;
    height: 130px;
}
.ProjectButtons{
    display: flex;
    gap: 20px;
}

button{
    font-size: 20px;
    border: 1px solid rgb(197, 95, 18);
    background-color: rgb(197, 95, 18);
    margin-top: 20px;
    color: snow;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

/* Contact */

.Content{
    display: flex;
    margin-top:40px;
}

.ContactText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    width: 600px;
}

input{
    margin: 10px;
    border: 1px solid white;
    background-color:rgb(30, 30, 30);
    height: 25px;
    width: 400px;
    padding: 10px;
    color: white;
}
.Message{
}

input::placeholder{
    color:white;
    opacity: 70%;
}

input:hover{
    background-color: rgb(48, 48, 48);
}

.SendBtn{
    margin: 10px;
}

.github{
    cursor: pointer;
    margin: 10px;
}
